.int{
    font-size:40px;
    font-weight:bolder;
    color:green;
    text-align:center;
}

@media screen and (min-width:300px) and (max-width:600px){
    .int{
        font-size: 60px;
        background-color: blue;
        color:black;
    }
    
}

@media screen and (min-width:610px)and (max-width:800px){
    .int{
        font-size: 60px;
        color:fuchsia;
        background-color: darkseagreen;
    }
    
}